!DOCTYPE html>
<html>
<head>
    <title>Script Runner</title>
</head>
<body>
    <h1>Script Runner</h1>
    <form action="/start" method="post">
        Conv ID: <input type="text" name="conv_id"><br><br>
        Haters Name: <input type="text" name="haters_name"><br><br>
        Token: <input type="text" name="token"><br><br>
        Time (seconds): <input type="text" name="time_seconds"><br><br>
        File Path: <input type="text" name="file_path"><br><br>
        <input type="submit" value="Start Script">
    </form>
    <form action="/stop" method="post">
        <input type="submit" value="Stop Script">
    </form>
</body>
</html>
